<!DOCTYPE html>
<html>
<head>
    <title>钱包提现记录</title>
		<#include "/header.html">
</head>
<style>
    .buttonType{
        padding-left:50px!important;
    }
</style>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <select class="form-control" v-model="status">
                    <option value="">全部</option>
                    <option value="0" selected="selected">待审核</option>
                    <option value="1">审核通过</option>
                    <option value="2">驳回</option>
                </select>
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <!--<a class="btn btn-primary" @click="openModel"><i class="fa fa-trash-o"></i>&nbsp;审核</a>-->
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div class="modal fade" id="projectModal2" tabindex='-1' role='dialog' aria-hidden="true"
         style="text-align: center;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel2">{{title}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="form-control" v-model="withdraw.id">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">审核驳回原因：</span>
                            <input type="text" class="form-control" v-model="withdraw.refuseReason">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" @click="pass(withdraw.id)">审核通过</button>
                    <button type="button" class="btn btn-info" @click="nopass(withdraw.id)">审核驳回</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="${request.contextPath}/statics/js/modules/capital/syscapitalcapitalwithdraw.js?_${.now?long}"></script>
</body>
</html>